# Wails / Build
build/bin
build/windows
build/darwin
build/linux
siren

# Frontend / Node / Nuxt
node_modules
.nuxt
.output
.DS_Store
frontend/dist
frontend/node_modules
frontend/.nuxt
frontend/.output
frontend/dist

# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Config / Temp
.env
.env.*
.tmp
.vscode/
.idea/

# Siren specific
config.yaml
config.json
*.log
ips.md
